body {
    position: relative;
    margin: 0;
    padding: 0;
    /* padding-top: 3vw; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    /* overflow-x: hidden; */
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}
p {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}
ol{
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    font-size: 1vw
}
nav {
    position: sticky;
    top: 0;
}
header {
    background-color: #1C305C;
    height: 3vw;
    width: 100%;
    min-height: 40px !important;
    padding: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* top: 0; */
    z-index: 99;
    align-items: flex-start;
    justify-content: flex-start;
}
header a { height: 100%; }
.logo {
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;
    margin-left: 0.5vw;
}
.school-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 0.5vw;
}.school-info h1 {
    color: whitesmoke;
    font-size: max(1.25vw, 16.6px);
    font-weight: bold;
} 
.school-info p{
    color: whitesmoke;
    font-size: max(0.75vw, 10px);
    font-style: italic;
} 

.menu {
    aspect-ratio: 1/1;
    height: 90%;
    object-fit: cover;
    cursor: pointer;
}
.menuitems {
    position: absolute;
    top: 100%;
    width: 10vw;
    background-color: rgb(245, 222, 179);
    transition: all ease-out 0.5s;
}
.menuitems ol {
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
}
.menuitems ol li {
    font-size: 1vw;
    list-style-type: none;
}
.menuitems ol li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.menuitems ol li a {
    display: inline-block;
    padding: 1vw;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
}
.menuitems li + li {
    border-top: solid 1px black;
}
.carousel, .carousel-inner {
    width: 100%;
    height: 100vh;
}
.carousel-container {
    /* padding-left: 10vw;
    padding-right: 10vw; */
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
}
#apply {
    position: absolute;
    bottom: 2.5vw;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-container p {
    position: absolute;
    bottom: 0.25vw;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 1vw;
}
.carousel-container H1 {
    position: absolute;
    top: 0.25vw;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 2vw;
    font-weight: bold;
}
.carousel-container img {
    opacity: 0.75;
}
main {
    height: 1000px;
}
#mission {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 1vw;
    font-size: 1vw;
}
#mission div {
    min-width: 0;
    flex: 1 1 0;
}
#mission p {
    text-align: justify;
    word-wrap: break-word;
}
#mission h1 {
    text-align: center;
    font-weight: bold;
}
#mission li {
    list-style: square;
    word-wrap: break-word;
    margin-left: 1.5vw;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #1C305C;
    width: 100%;
    color: whitesmoke;
}
section {
    border: solid 1px black;
}