body {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 20px;
    min-height: 100vh;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}
p {
    margin: 0;
    padding: 0;
}
ol{
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    font-size: 20px;
}
nav {
    position: sticky;
    top: 0;
}
header {
    background-color: #1C305C;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99; /* Stay on top */
    row-gap: 1vw;
}
header a { height: 75px; }
.logo {
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;
    margin-left: 0.5vw;
}
.school-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 0.5vw;
}.school-info h1 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -5px;
} 
.school-info p{
    color: whitesmoke;
    font-size: 16px;
    font-style: italic;
}
.nav-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    color: whitesmoke;
    height: 50px;
}
.nav-buttons a {
    flex: 1;
}
.nav-buttons div {
    display: flex;
    vertical-align: middle;
    height: 100%;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer {
    position: absolute;
    bottom: 0;
    padding: .5vw;
    background-color: #1c305c;
    width: 100%;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
footer div {
    flex: 1;
    height: 100%;
}
footer div:last-child {
    flex: 1 1 90%;
}
footer p {
    text-align: center;
    word-wrap: normal;
}